.App-login {
  text-align: center !important;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  margin: 0px !important;
}

.circle{
  margin: 0 auto 45px auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #c4c4c4;
}
