.App-simulator {
  text-align: left;
  margin: 10% auto 10% auto;
  width: 80%;
}
.content-simulator{
  width: fit-content;
  margin-left: 15px;
}
.result{
  text-align: justify;
  margin: 15px 0;
  filter: drop-shadow(1px 1px 2px #b2b2b2);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px 0 10px 15px;
  font-size: 17px;
  background: #ffffff;

}
.flex{
   display: flex;
}

.result-attribute{
   margin: 0 15px 10px 0;
}
