.button{
  background-color: #1335c6;
  border-radius: 5px;
  color: #ffffff;
  font-size: 26px;
  padding: 5px;
  width: 300px;
  margin: 15px 0;
  border: none;
}
.button:hover{
  cursor: pointer;
}
form{
  margin: auto;
}
.input{
  margin: 15px 0;
  filter: drop-shadow(1px 1px 2px #b2b2b2);
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px 0 10px 15px;
  font-size: 17px;
  width: 300px;
}
h1{
  text-align: left;
  color: #8c8c8c;
  font-weight: normal;
  margin-bottom: 30px;
}
